[Unit]
Description=Alternance Discord Watcher
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/home/marewane/Projets/alternance-discord-watcher
EnvironmentFile=/home/marewane/Projets/alternance-discord-watcher/.env
ExecStart=/home/marewane/Projets/alternance-discord-watcher/.venv/bin/python -m watcher.main --once
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
