[Unit]
Description=Run Alternance Discord Watcher every 30 minutes

[Timer]
OnBootSec=3min
OnUnitActiveSec=30min
AccuracySec=1min
Persistent=true
Unit=alternance-watcher.service

[Install]
WantedBy=timers.target
